body {
	background-color: #3e3e3e;
	color: #cecfcf;
}

.center {
	margin: auto;
	width: 420px;
	height: 50%;
}

main .meme {
	width: 420px;
} 

.contributors-list {
	padding-top: 20px;
}

.contributors-list-text {
	font-size: 36px;
}

.contributors-list-person {
	font-size: 24px;
	padding-bottom: 30px;
}

.changes-added {
	color: #0c0;
}

.changes-removed {
	color: #c00;
}

footer {
	display: none;
} 