body {
	background-color: #eee;
}

a  {
	color: inherit;
}

.center {
	margin: auto;
	width: 420px;
	height: 50%;
}

main .meme {
	width: 420px;
} 

.contributors-list {
	padding-top: 20px;
}

.contributors-list-text {
	font-size: 36px;
}

.contributors-list-person {
	font-size: 24px;
}

.changes-added {
	color: #0c0;
}

.footer-next {
	margin-top: 30px;
} 

.footer-link-wrapper {
	margin-top: 30px;
}